Repository adamgifford-behavr/exercise_prediction: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, bandit

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -rn
  - -sn

bandit:
  name: bandit
  description: Bandit is a tool for finding common security issues in Python code
  entry: bandit
  language: python
  language_version: python3
  args:
  - -x
  - tests

updated gitignore, make commands, and readme
  .gitignore
  Makefile
  README.md
  data/external/.gitkeep
  data/interim/.gitkeep
  data/processed/.gitkeep
  data/raw/.gitkeep
Due: none

completed integration testing and fixed some test data
  integration_tests/docker-compose.yaml
Due: none

completed infrastructure setup
  infrastructure/main.tf
  infrastructure/modules/ecr/main.tf
  infrastructure/modules/ecr/variables.tf
  infrastructure/modules/kinesis/main.tf
  infrastructure/modules/kinesis/variables.tf
  infrastructure/modules/lambda/iam.tf
  infrastructure/modules/lambda/main.tf
  infrastructure/modules/lambda/variables.tf
  infrastructure/modules/s3/main.tf
  infrastructure/modules/s3/variables.tf
  infrastructure/variables.tf
Due: none

tested infrastructure setup
  scripts/deploy_manual.sh
  scripts/publish.sh
  scripts/test_cloud_e2e.sh
Due: none

updated to point to correct remote store
  src/monitor/docker-compose.yml
Due: none

updated detailed documentation
  docs/commands.rst
  docs/conf.py
  docs/getting-started.rst
  docs/html/_sources/commands.rst.txt
  docs/html/_sources/getting-started.rst.txt
  docs/html/commands.html
  docs/html/getting-started.html
  docs/html/index.html
  docs/html/objects.inv
  docs/html/searchindex.js
Due: pylint, bandit

updated to include batch sizes for lambda trigger
  infrastructure/modules/lambda/main.tf
  infrastructure/modules/lambda/variables.tf
  infrastructure/variables.tf
Due: none

cicd setup with ci-tests
  .github/workflows/cd-deploy.yaml
  .github/workflows/ci-tests.yaml
  Makefile
  Pipfile.lock
  integration_tests/run.sh
  src/deployment/streaming/lambda_function.py
Due: pylint, bandit

updated to fix error with python version
  .github/workflows/ci-tests.yaml
Due: none

updated to fix no black in pipenv
  Pipfile
  Pipfile.lock
Due: none

updated to add tfvars and expected cloud test failures so that tests should pass in github actions
  .gitignore
  infrastructure/vars/prod.tfvars
  infrastructure/vars/stg.tfvars
  tests/test_build_features.py
  tests/test_make_dataset.py
Due: bandit

updated to attempt to fix failures in github ci actions
  infrastructure/main.tf
  integration_tests/run.sh
Due: none

updated to attempt to fix pipenv and terraform failures in github actions
  infrastructure/variables.tf
  src/deployment/streaming/Pipfile
  src/deployment/streaming/Pipfile.lock
Due: none

updated to attempt to fix pipenv requests not found error
  Pipfile
  Pipfile.lock
  src/deployment/streaming/Pipfile
  src/deployment/streaming/Pipfile.lock
Due: none

updated to try to fix import requests error in github actions
  Pipfile
  Pipfile.lock
  integration_tests/run.sh
Due: none

fixed relative path since github actions has working directory as integration_tests
  integration_tests/run.sh
Due: none

fixed expected model version with new run_id to pass docker integration test
  integration_tests/test_docker.py
Due: bandit

fixed run.sh to find pipfile correctly for test_kinesis
  integration_tests/run.sh
Due: none

fixed expected model version with new run_id to pass kinesis integration test
  integration_tests/test_kinesis.py
Due: bandit

added CD testing
  .github/workflows/cd-deploy.yaml
  .github/workflows/ci-tests.yaml
  .pre-commit-config.yaml
Due: none

trying to re-commit to test CICD pipeline
  .github/workflows/cd-deploy.yaml
Due: none

trying to re-commit to test CICD pipeline
  src/monitor/prepare.py
Due: pylint, bandit

added copy model step to CD so docker image creation should work in CD
  .github/workflows/cd-deploy.yaml
Due: none

trying to re-commit with src change to test CICD pipeline
  src/monitor/prepare.py
Due: pylint, bandit

trying to re-commit with src change to test CICD pipeline
  .github/workflows/cd-deploy.yaml
  src/monitor/prepare.py
Due: pylint, bandit

added optional step to destroy infrastructure (for testing purposes)
  .github/workflows/cd-deploy.yaml
Due: none

minor changes to data drift dashboard setup and requirements of prediction service
  src/monitor/evidently_service/dashboards/data_drift.json
  src/monitor/prediction_service/requirements.txt
Due: none

Path conditions:
  pylint: any of: \.py$, but not: tests/*
  bandit: any of: \.py$
