Repository adamgifford-behavr/exercise_prediction: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, bandit

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.2.0
    hooks:
      - id: trailing-whitespace
      # - id: check-added-large-files
      - id: check-executables-have-shebangs
      - id: check-json
      - id: pretty-format-json
        args: ["--autofix"]
      - id: check-toml
      - id: check-yaml
      - id: debug-statements
      - id: detect-private-key
  - repo: https://github.com/pycqa/isort
    rev: 5.10.1
    hooks:
      - id: isort
        name: isort (python)
        args: [--line-length=88]
  - repo: https://github.com/psf/black
    rev: 22.6.0
    hooks:
      - id: black
        language_version: python3.10
        args: [--line-length=88]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.971
    hooks:
      - id: mypy
        args:
          [
            --no-strict-optional,
            --ignore-missing-imports,
            --exclude,
            "app.py",
            "--exclude",
            "^tests/",
          ]
  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: pylint
        language: system
        types: [python]
        exclude: tests/*
        args: [
            "-rn", # Only display messages
            "-sn", # Don't display the score

          ]
      - id: bandit
        name: bandit
        description: "Bandit is a tool for finding common security issues in Python code"
        entry: bandit
        language: python
        language_version: python3
        types: [python]
        args: ["-x", "tests"]
      - id: pytest
        name: pytest
        entry: coverage run -m pytest tests
        stages: [commit]
        types: [python]
        language: system
        pass_filenames: false
        always_run: true
      - id: coverage
        name: coverage report
        entry: coverage html -d htmlcov --show-contexts --skip-empty
        stages: [commit]
        types: [python]
        language: system
        pass_filenames: false
        always_run: true

updated make, readme, config stuff
  .gitignore
  .pre-commit-config.yaml
  Makefile
  README.md
Due: none

updated documentation
  docs/getting-started.rst
Due: none

started infrastrucure management
  src/infrastructure/.gitkeep
  src/infrastructure/main.tf
  src/infrastructure/modules/.gitkeep
  src/infrastructure/variables.tf
  src/infrastructure/vars/.gitkeep
Due: none

updated to force sort of data files for consistent data splitting
  src/data/make_dataset.py
Due: pylint, bandit

updated to move scoring to deployment
  src/orchestration/deploy_score_batch.py
  src/orchestration/orchestrate_score_batch.py
Due: pylint, bandit

added classification performance monitoring settings
  src/monitor/evidently_service/dashboards/classification_performance.json
Due: none

updated tests to be consistent with script file names and ensure passing
  tests/test_make_dataset.py
Due: bandit

created deployment folder, started web service and streaming deployments
  pyproject.toml
  src/deployment/__init__.py
  src/deployment/batch/__init__.py
  src/deployment/batch/deploy_score_batch.py
  src/deployment/batch/orchestrate_score_batch.py
  src/deployment/streaming/__init__.py
  src/deployment/web_service/Dockerfile
  src/deployment/web_service/Pipfile
  src/deployment/web_service/__init__.py
  src/deployment/web_service/frequency_features.json
  src/deployment/web_service/predict.py
  src/deployment/web_service/sample_fileID134_subjID512_dataID1.json
  src/deployment/web_service/test.py
Due: pylint, bandit

updated to always run tests on commit
  .pre-commit-config.yaml
Due: none

updated and finalized in-depth documentation for submission
  docs/commands.html
  docs/genindex.html
  docs/getting-started.html
  docs/getting-started.rst
  docs/index.html
  docs/search.html
  docs/searchindex.js
Due: none

fixed basic monitoring functionality
  .pre-commit-config.yaml
  src/monitor/evidently_service/app.py
  src/monitor/prediction_service/requirements.txt
Due: pylint, bandit

updated prepare.py to save true reference data from training with predictions and only send feature data in simulation
  .pre-commit-config.yaml
  src/monitor/prepare.py
Due: pylint, bandit

updated documentation and commands for web service deployment
  .pre-commit-config.yaml
  Makefile
  README.md
  docs/getting-started.html
  docs/getting-started.rst
  docs/searchindex.js
Due: none

completed basic web service deployment
  .pre-commit-config.yaml
  src/deployment/web_service/Dockerfile
  src/deployment/web_service/Pipfile
  src/deployment/web_service/Pipfile.lock
  src/deployment/web_service/predict.py
  src/deployment/web_service/test.py
Due: pylint, bandit

updated docsctrings and typing
  src/deployment/web_service/predict.py
Due: pylint, bandit

fixed documentation to copy model over to web_service directory
  Makefile
  docs/getting-started.rst
Due: none

updated web service container to use either model in remote registry or local example model
  src/deployment/web_service/Pipfile
  src/deployment/web_service/Pipfile.lock
Due: none

updated documentation and make commands for web service deployment
  Makefile
  README.md
  docs/getting-started.html
  docs/getting-started.rst
  docs/searchindex.js
Due: none

updated .gitignore and detailed documentation
  .gitignore
  docs/getting-started.html
  docs/getting-started.rst
  docs/searchindex.js
Due: none

corrected type hints and fixed dockerfile to remove unnecessary ARG
  src/deployment/web_service/predict.py
  src/monitor/prediction_service/Dockerfile
Due: pylint, bandit

completed streaming mock deployment
  src/deployment/streaming/Dockerfile
  src/deployment/streaming/Pipfile
  src/deployment/streaming/Pipfile.lock
  src/deployment/streaming/frequency_features.json
  src/deployment/streaming/lambda_function.py
  src/deployment/streaming/signals_stream.py
  src/deployment/streaming/test_docker.py
Due: pylint, bandit

updated pipfile to include type hinting package for AWS
  Pipfile
Due: none

updated pipfile to distinguish dev vs prod packages
  Pipfile
Due: none

udpated documentation for streaming deployment
  Makefile
  README.md
  docs/getting-started.html
  docs/getting-started.rst
  docs/searchindex.js
  src/deployment/streaming/Dockerfile
  src/deployment/streaming/lambda_function.py
Due: pylint, bandit

updated requirements for AWS kinesis client type hinting
  Pipfile
  requirements.txt
Due: none

updated streaming deployment to use ModelService class from model.py with lambda helper
  src/deployment/streaming/Dockerfile
  src/deployment/streaming/Pipfile
  src/deployment/streaming/Pipfile.lock
  src/deployment/streaming/lambda_function.py
  src/deployment/streaming/lambda_function_.py
  src/deployment/streaming/model.py
Due: pylint, bandit

updated so default would run local model with no additional steps required
  src/deployment/streaming/lambda_function.py
  src/deployment/streaming/model.py
Due: pylint, bandit

updated detailed documentation for streaming service
  docs/commands.html
  docs/genindex.html
  docs/getting-started.html
  docs/getting-started.rst
  docs/index.html
  docs/search.html
  docs/searchindex.js
Due: none

updated html documentation organization
  docs/html/.buildinfo
  docs/html/_sources/commands.rst.txt
  docs/html/_sources/getting-started.rst.txt
  docs/html/_sources/index.rst.txt
  docs/html/_static/_sphinx_javascript_frameworks_compat.js
  docs/html/_static/alabaster.css
  docs/html/_static/basic.css
  docs/html/_static/custom.css
  docs/html/_static/doctools.js
  docs/html/_static/documentation_options.js
  docs/html/_static/file.png
  docs/html/_static/jquery-3.5.1.js
  docs/html/_static/jquery-3.6.0.js
  docs/html/_static/jquery.js
  docs/html/_static/language_data.js
  docs/html/_static/minus.png
  docs/html/_static/plus.png
  docs/html/_static/pygments.css
  docs/html/_static/searchtools.js
  docs/html/_static/underscore-1.13.1.js
  docs/html/_static/underscore.js
  docs/html/commands.html
  docs/html/genindex.html
  docs/html/getting-started.html
  docs/html/index.html
  docs/html/objects.inv
  docs/html/search.html
  docs/html/searchindex.js
Due: none

added testing for streaming model deployment
  tests/data.b64
  tests/example_decoded_data.json
  tests/example_features_sample.json
  tests/example_frequency_features.json
  tests/example_prepared_data.p
  tests/frequency_features.json
  tests/test_model_deployment.py
Due: bandit

updated specs and documentation for integration tests and publishing
  .gitignore
  .pre-commit-config.yaml
  Makefile
  README.md
  pyproject.toml
  requirements.txt
Due: none

updated detailed documentation for integration tests and image registry, as well as updated uber pipfile environment
  Pipfile
  docs/commands.rst
  docs/getting-started.rst
  docs/html/.buildinfo
  docs/html/_sources/commands.rst.txt
  docs/html/_sources/getting-started.rst.txt
  docs/html/_static/basic.css
  docs/html/_static/doctools.js
  docs/html/_static/documentation_options.js
  docs/html/_static/jquery.js
  docs/html/_static/language_data.js
  docs/html/_static/pygments.css
  docs/html/_static/searchtools.js
  docs/html/commands.html
  docs/html/genindex.html
  docs/html/getting-started.html
  docs/html/index.html
  docs/html/objects.inv
  docs/html/search.html
  docs/html/searchindex.js
Due: none

updated make command for setup with pipenv
  Makefile
Due: none

completed integrations tests and publishing streaming service
  .pre-commit-config.yaml
  integration_tests/data.b64
  integration_tests/docker-compose.yaml
  integration_tests/run.sh
  integration_tests/test_docker.py
  integration_tests/test_kinesis.py
  scripts/publish.sh
Due: bandit

updated pipfile dev requirements for streaming service
  src/deployment/streaming/Pipfile
  src/deployment/streaming/Pipfile.lock
Due: none

updated to be consistent with what prediction for encoded data sample is
  tests/test_model_deployment.py
Due: bandit

code format fixes
  src/data/make_dataset.py
  src/deployment/batch/deploy_score_batch.py
  src/deployment/batch/orchestrate_score_batch.py
  src/deployment/streaming/lambda_function.py
  src/deployment/streaming/lambda_function_.py
  src/deployment/streaming/model.py
  src/models/train_model.py
  src/orchestration/deploy_train.py
  src/orchestration/orchestrate_train.py
Due: pylint, bandit

moved infrastructure setup outside of src
  infrastructure/.gitkeep
  infrastructure/main.tf
  infrastructure/modules/.gitkeep
  infrastructure/variables.tf
  infrastructure/vars/.gitkeep
Due: none

added executable permissions for publish.sh
  scripts/publish.sh
Due: none

updated main scripts and added base module script files
  infrastructure/main.tf
  infrastructure/modules/ecr/main.tf
  infrastructure/modules/ecr/variables.tf
  infrastructure/modules/kinesis/main.tf
  infrastructure/modules/kinesis/variables.tf
  infrastructure/modules/lambda/iam.tf
  infrastructure/modules/lambda/main.tf
  infrastructure/modules/lambda/variables.tf
  infrastructure/modules/s3/main.tf
  infrastructure/modules/s3/variables.tf
  infrastructure/variables.tf
Due: none
